.red-bor{
  border: 2px solid red;
  }

  .black-bor{
    border: 2px solid black;
  }

  .blue-bor{
    border: 2px solid blue;
  }

h2::after{
  background: #e74c3c;
	content: "";
	display: block;
	width: 100px;
	height: 2px;
	margin: 6px 0px;
}